@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-bing {
    @apply bg-zinc-500;
    background-image: url(https://bing.biturl.top/?resolution=1920&format=image&index=0&mkt=zh-CN);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@layer components {
  .menu-item {
    @apply w-64 cursor-default py-2.5 pl-8 text-left outline-0 hover:bg-zinc-700 focus:bg-zinc-700 disabled:text-zinc-400 disabled:hover:bg-zinc-800;

    &[data-disabled] {
      @apply text-zinc-400 hover:bg-zinc-800;
    }
  }

  .menu {
    @apply z-50 flex flex-col border border-zinc-400 bg-zinc-800 py-2 px-0.5 text-xs text-zinc-100 outline-none;
  }

  .menu-compact .menu-item {
    @apply w-48 py-1.5 pl-6;
  }

  .start-leftbar {
    @apply pointer-events-none absolute flex h-full w-11 flex-col justify-between overflow-hidden pt-1.5 text-zinc-200 transition-[width,background-color] delay-[25ms] ;
  }

  .start-leftbar:hover {
    @apply pointer-events-auto w-64 bg-zinc-700 shadow-lg transition-[width,background-color] delay-500 ease-linear;
  }

  .start-left-btn {
    @apply pointer-events-auto flex w-full cursor-default items-center p-2.5 hover:bg-zinc-600;
  }
}
